* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* nav box */

#nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
    width: 100%;
    position: sticky;
    top: 0px;
    color: #ffffff;
    background-color: rgb(67, 172, 228);

}

#nav-bar .nav-links ul li {
    list-style-type: none;
}

#nav-bar .nav-heading h1 {
    font-size: 27px;
}

#nav-bar .nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#nav-bar .nav-links ul li a:hover {
    color: #d8d8d8;
}

#nav-bar .nav-links ul {
    display: flex;
    gap: 30px;
}

/* main box */

#main {
    display: flex;
    justify-content: center;
}

#main .main-content {
    height: 880px;
    width: 50%;
    box-shadow: 3px 7px 14px #000000;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* jamun */
#main .main-content .gulab {
    height: 48%;
    width: 100%;
    background-color: #ffffff;
    display: flex;

}

#main .main-content .gulab .recipe-steps{
    height: 100%;
    width: 65%;
    background-color: #ffffff;
    padding: 50px;

}

#main .main-content .gulab .recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main-content .gulab .recipe-img img {
    height: 85%;
    width: 85%;
    border-radius: 20px;
    box-shadow: 3px 7px 14px #000000;
    

}


/* barfi */
#main .main-content .barfi {
    height: 48%;
    width: 100%;
    background-color: #ffffff;
    display: flex;

}

#main .main-content .barfi .recipe-steps{
    height: 100%;
    width: 65%;
    background-color: #ffffff;
    padding: 50px;

}

#main .main-content .barfi .recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main-content .barfi .recipe-img img {
    height: 85%;
    width: 85%;
    border-radius: 20px;
    box-shadow: 3px 7px 14px #000000;
    

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    /* text-align: center; */
    background-color: rgb(67, 172, 228);
    height: 50px;
    width: 100%;
    font-size: 1.5rem;
    color: #ffffff;
    /* position: fixed; */
    /* bottom: 0px; */
    /* z-index: 34; */
}

